form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects {
  display: flex;
  gap: 1rem;
}

.project-wrapper {
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.task {
  display: flex;
  gap: 1rem;
  align-items: center;
}
